.header {

  &--bar {
    padding-bottom: .625rem;
    padding-top: .625rem;
    background: $cinza__light;
    min-height: 62px !important;
    border-bottom: 1px solid $cinza__medium;
  }

  &--dropdown {
    margin-top: -10px;
    margin-right: 15px;
  }

}

