.width__xxs {
  width: 40px !important;
}

.width__xs {
  width: 60px !important;
}

.width__xm {
  width: 100px !important;
}

.width__sm {
  width: 150px !important;
}

.width__md {
  width: 250px !important;
}

.width__lg {
  width: 450px !important;
}

.width__full {
  width: 100%;
}

.hr__divider {
  margin: 35px 0 25px 0;
}

.wrapper {
    height: 100vh;
    position: relative;
    top: 0;
}

.no-shadow {
    box-shadow: 0 0px 0px 0 !important;
}

.no-underline {
  text-decoration: none !important;
}

.alert ul {
  margin: 0 !important;
}

.gutter-when-small .el-col {

    @mixin atXSmall {
      margin-bottom: 20px;
    }

    @mixin atSmall {
      margin-bottom: 20px;
    }

    @mixin atMedium {
      margin-bottom: 20px;
    }

    @mixin atLarge {
      margin: inherit;
    }

}
