$cor1: #008d95;
$cor1__light: #FFFFFF;
$cor1__medium: #015f6b;
$cor2: #333333;
$cor2__light: #FFFFFF;
$cor3: #015f6b;
$cor4: #fff;
$cor4__medium: #212121;
$cor4__hard: #000;
$cinza__light: #F4F3EF;
$cinza__medium: #DDDDDD;
$cinza__hard: #999;
$vermelho--claro: #fff6f6;
$cor-secundaria: #43bec6;
$danger: red;
